extends layout

block content
  mixin userListCreator(users)
    div#usersList
      h2 Пользователи чата
      ul#usersUl
        each user in users
          li(class='user' name= '#{user.username}')
            p #{user.username} :off
            if(admin && user.username != 'admin')
              div#adminButtons
                if(user.ban)
                  input(type="button", value="Unban", class="ban")
                else
                  input(type="button", value="Ban", class="ban")
                
                if(user.mute)
                  input(type="button", value="Unmute" class="mute")
                else
                  input(type="button", value="Mute" class="mute")


  +userListCreator(users)
  div#chat
    h1 Добро пожаловать
    div#showing_mes
      ul#chatWindow
    div#form_mes
      label(for="message") Введите сообщение
      input(type="text", name='message', id='mes')

      input(type="button", value="Отправить", class="send")

  div(id='line')
 
  p(display='none' id ='id')= id



 