extends layout

block content
  mixin userListCreator(users)
    div#usersList
      h2 Пользователи чата
      ul#usersUl
        each user in users
          li(class='user', onclick = 'setRole(#{user._id})')
            p #{user.username} :off

  +userListCreator(users)
  if(admin)
    div#adminButtons
      input(type="button", value="Ban" class="ban")
      input(type="button", value="Mute" class="mute")
  div#chat
    h1 Добро пожаловать
    div#showing_mes
      ul#chatWindow
    div#form_mes
      label(for="message") Введите сообщение
      input(type="text", name='message', id='mes')

      input(type="button", value="Отправить", class="send")

  div(id='line')
 
  p(display='none' id ='id')= id



 