extends layout

block content
  mixin userListCreator(users)
    div#usersList
      h2 Пользователи чата
      ul 
        each user in users
          li(tabindex='1', class='user')
            p= user.username

  +userListCreator(users)
  div#chat
    h1 Добро пожаловать
    div#showing_mes
      ul#chatWindow
    div#form_mes
      label(for="message") Введите сообщение
      input(type="text", name='message', id='mes')

      input(type="button", value="Войти в чат" class="send")

  div(id='line')
  p(display='none' id ='id')= user._id



 