extends layout

block content
  h1= message
  div.usersList
    mixin userListCreator(users)
      ul
        each user in users
          li
            p= user.username

  textarea(name="", cols="40", rows="10", id ='chatWindow')
  p
  label(for="name") Введите сообщение
  input(type="text", name='name', id='message')

  input(type="button", value="Войти в чат" class="send")

  +userListCreator(users)



 