extends layout

block content
  div#author
    form(action="", method="post", id='f' name = 'user')
      h1 Авторизация пользователя
      p
        label(for="name") Введите имя
        input(type="text", name='name')
      p
        label(for="pass") Введите пароль
        input(type="password", name='pass')

      input(type="submit", value="Войти в чат")
  h2 #{error}
