body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  position: relative;
  max-height: 900px;
  width: 100%;
  overflow: hidden;
  top: 0;
}

#usersList {
  width: 25%;
  height: inherit;
}

#usersList ul {
  width: inherit;
  height: 900px;
  overflow: auto;
  user-select: none;
}

#chat{
  width: 60%;
  text-align: center;
}

#form_mes{
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: left;
}

#showing_mes{
  position: relative;
  height: 90%;
  overflow: auto;
}

input[type='text']{
    padding: 10px; 
    width: 50%;  
}
input[type='button']{
  padding: 10px; 

}
label{
  font-size: 15px;
  margin-right: 10px;
 }
 #chatWindow{
   text-align: left;

 }


li{
  display: block;
  max-width: 90%;
  list-style-type: none;
  overflow-wrap: break-word;
  cursor: pointer;
}

#line{
  position: absolute;
  height: auto;
  width: 2px;
  background-color: #000;
  left: 35%;
}

li:focus{
  outline: 1px dashed rgb(96, 109, 96); 
  background-color:  rgb(212, 210, 172);
}

#adminButtons input{
  position: relative;
  display: inline-block;
  bottom: 0;
}


